<div class='error500'>
    <div class='error500__container'>
        <h1 class='error500__title'>
            500
        </h1>
        <h3 class='error500__subtitle'>Мы уже фиксим</h3>
        <a href='#' class='error500__back-to-chats'>Назад к чатам</a>
    </div>
</div>