{{!-- авторизация с формой, имена полей: login, password --}}

<div class="auth-container">
  <form class="auth-form">
    <h3 class="auth-form__title">Вход</h3>
    <div class="auth-form__inputs">
      <label class="input__label" for="login">Логин</label>
      <input type="text" id="login" name="login" class="auth-form__input" />

      <label class="input__label" for="password">Пароль</label>
      <input type="text" id="password" name="password" class="auth-form__input" />
    </div>
    <div class="auth-form__buttons">
      <button class="auth-form__submit">{{action}}</button>
	  <a href=""class="auth-form__sign">{{additionalAction}}</a>
    </div>
  </form>
</div>