<div class="profile-container">
    <div class="profile-container__back-button">

    </div>
	<div class="profile-container__content" style="margin-top: 300px; width: 100px; height: 300px; background: red">
		dffdfdfdf

	</div>
</div>
