<div class='profile-wrapper'>
    <div class='profile__avatar'>
        <img src={{userAvatar}} />
        <span id='change-avatar-button' class='profile__avatar-change-button'>
            Поменять
            <br />
            аватар
        </span>
    </div>

    <form action='#' class='profile__form'>

        <label class='profile__label bottom-divider' for='oldPassword'>
            Старый пароль
            <input placeholder='********' name='oldPassword' type='password' id='oldPassword' class='profile__input' />
        </label>

        <label class='profile__label bottom-divider' for='newPassword'>
            Новый пароль
            <input placeholder='********' name='newPassword' type='password' id='newPassword' class='profile__input' />
        </label>

        <label class='profile__label bottom-divider' for='newPasswordRepeat'>
            Повторите новый пароль
            <input placeholder='********' name='newPasswordRepeat' type='password' id='newPasswordRepeat' class='profile__input' />
        </label>

        <div class='profile__actions'>
            <button class='profile__submit'>Сохранить</button>
        </div>
    </form>
</div>