<div class='upload-avatar-modal-background'></div>
<div class='upload-avatar-modal-wrapper'>

    <form id='upload-avatar-modal'>
        <div class='upload-avatar-modal'>
            <h3 class='upload-avatar-modal__title'>Загрузите файл</h3>
            <label for='modal-input' class='upload-avatar-modal__label'>
                Выбрать файл на компьютере
            </label>
            <input type='file' name='modal-input' name='avatar' id='modal-input' class='upload-avatar-modal__input' />
            <button type='submit' class='upload-avatar-modal__button'>Поменять</button>
        </div>
    </form>
</div>