<div class='error404'>
    <div class='error404__container'>
        <h1 class='error404__title'>
            404
        </h1>
        <h3 class='error404__subtitle'>Мы уже фиксим</h3>
        <a href="#" class='error404__back-to-chats'>Назад к чатам</a>
    </div>
</div>